.day-card-container {
    width: 12%;
    height: 150px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.day-card-container h3 {
    font-size: 12px;
}

.day-card-container p {
    font-size: 12px;
    margin-left: 44%;
    margin-top: 0%;
}

.day-card {
    width: 100%;
    height: 50px;
    background-color: #3fa67a;
}

.bar {
    height: 50px;
    border-right: 1px dotted black;
}
