.weekdays {
    height: 180px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    display: block;
    background-color: #2F303F;
    border: 1px solid rgba(255,255,255,0.08);
    border-radius: 16px;
}


.info-weekdays {
    font-size: 16px;
    margin: 10px 0px;
}