html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
  padding: 5vh 16px;
  box-sizing: border-box
}

.container {
  width: min(1200px, 92vw);
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0px auto;
}
